@charset "UTF-8";
* {
  box-sizing: border-box; }

.intv-video {
  position: relative;
  width: 880px; }

.help-layer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 1; }
  .help-layer .wrapper {
    height: 80%;
    width: 60%;
    border: 1px solid sandybrown;
    background-color: sandybrown;
    border-radius: 12px; }
    .help-layer .wrapper h2 {
      text-align: center; }
  .help-layer .content {
    list-style: none;
    list-style-type: decimal;
    line-height: 1.5;
    font-size: 110%; }

.video-js .vjs-big-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -.75em; }

.control-panel {
  position: relative;
  margin-top: 10px;
  width: 640px;
  height: 120px;
  border: 1px solid #ccc;
  background-color: #535356; }
  .control-panel span {
    position: absolute;
    display: block;
    left: 0;
    height: 100%;
    width: 2px; }
    .control-panel span.current-time-pin, .control-panel span.fake-pin {
      background-color: crimson;
      z-index: 1; }
    .control-panel span.act-pin {
      background-color: antiquewhite;
      width: 2px;
      text-align: center;
      line-height: 120px; }
      .control-panel span.act-pin.active {
        background-color: yellowgreen; }

.time-tip {
  margin-top: 10px;
  width: 640px;
  border: 1px solid #ccc;
  line-height: 30px;
  text-align: center; }

#product-info {
  width: 200px;
  position: absolute;
  top: 0;
  right: 20px; }
  #product-info button {
    padding: 10px;
    border: 0;
    cursor: pointer; }
    #product-info button.back, #product-info button.add {
      color: #808080;
      background-color: #f3f3f5; }
    #product-info button.preview, #product-info button.save {
      color: white;
      background-color: #35aeff; }
    #product-info button.preview {
      width: 100%; }
    #product-info button.save {
      clear: left; }
  #product-info .time-range {
    overflow: hidden; }
    #product-info .time-range > div {
      float: left;
      width: 50%; }
      #product-info .time-range > div > span {
        font-size: 14px;
        line-height: 24px; }
      #product-info .time-range > div .input-time {
        position: relative;
        height: 22px;
        line-height: 22px; }
        #product-info .time-range > div .input-time > span {
          position: absolute;
          display: block;
          right: 2%;
          width: 10%;
          text-align: center;
          height: 10px;
          line-height: 10px;
          outline: 1px solid #ccc; }
          #product-info .time-range > div .input-time > span.plus {
            top: 0; }
          #product-info .time-range > div .input-time > span.minus {
            bottom: 0; }
        #product-info .time-range > div .input-time input {
          width: 88%;
          height: 100%; }
  #product-info > div {
    width: 100%;
    padding: 5px 0; }

#product-list {
  margin-top: 10px;
  width: 100%;
  font-size: 14px; }
  #product-list thead {
    background-color: #333333;
    color: white; }
    #product-list thead tr td {
      text-align: center; }
  #product-list tbody tr td {
    border: none;
    text-align: center; }
    #product-list tbody tr td:first-child {
      text-align: center; }
    #product-list tbody tr td:nth-of-type(2) {
      max-width: 200px;
      word-break: break-all;
      text-align: left; }
    #product-list tbody tr td button {
      border: 0;
      outline: 0;
      background: none;
      cursor: pointer; }
      #product-list tbody tr td button.update {
        color: #008be8; }
      #product-list tbody tr td button.delete {
        color: #999999; }
    #product-list tbody tr td span:before {
      content: '¥'; }
    #product-list tbody tr td span.now-price {
      font-size: 18px;
      font-weight: bolder; }
    #product-list tbody tr td span.original-price {
      text-decoration: line-through;
      color: #b3b3b3;
      font-size: 14px; }
