*
    box-sizing: border-box

.help-layer
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(0,0,0,.9)
    width: 100%
    height: 100%
    top: 0
    left: 0
    color: #fff
    z-index: 1
    .wrapper
        height: 80%
        width: 60%  
        border: 1px solid sandybrown
        background-color: sandybrown 
        border-radius: 12px
        h2
            text-align: center
    .content
        list-style: none
        list-style-type: decimal
        line-height: 1.5
        font-size: 110%
        
.video-js 
    .vjs-big-play-button
        position: absolute
        left: 50%
        top: 50%
        margin-left: -1.5em
        margin-top: -.75em      

.control-panel
    position: relative
    margin-top: 10px
    width: 640px
    height: 120px
    border: 1px solid #ccc
    background-color: #535356
    span
        position: absolute
        display: block
        left: 0
        height: 100%
        width: 2px
        &.current-time-pin, &.fake-pin
            background-color: crimson
            z-index: 1
        &.act-pin
            background-color: antiquewhite
            width: 2px
            text-align: center
            line-height: 120px
            &.active 
                background-color: yellowgreen
.time-tip
    margin-top: 10px
    width: 640px
    border: 1px solid #ccc
    line-height: 30px
    text-align: center
#product-info
    width: 400px
    border: 1px solid #ccc
    position: absolute
    top: 0
    right: 0
    button
        padding: 10px
        border: 0
        &.back, &.add
            color: #808080
            background-color: #f3f3f5
        &.preview, &.save
            color: white
            background-color: #35aeff
        &.preview
            width: 100%
        &.save
            clear: left
    .time-range
        overflow: hidden
        & > div
            float: left
            width: 50%
            span
                font-size: 14px
                line-height: 24px
    & > div
        padding: 10px 0 0 0
        border-bottom: 1px solid #ccc
#product-list
    margin-top: 10px